.messages {
    padding: 10px 0;
    overflow-y: auto;
    flex: auto;
    min-height: 0 !important;
    background: #252526;
}

.messages::-webkit-scrollbar {
    width: 6px;
}

.messages::-webkit-scrollbar-track {
    background: transparent;
}

.messages::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 3px;
}

.messages::-webkit-scrollbar-thumb:hover {
    background: #4f4f4f;
}
